/**
 * Main
 */
#app {
    width: 100%;
}

/**
 * Navigation
 */
#app-navigation {}
    #app-navigation .app-navigation-create {
        padding: 10px;
    }
        #app-navigation #clear-recipe-search {
            border-top: 1px solid var(--color-border-dark);
            border-bottom: 1px solid var(--color-border-dark);
            padding: 0 15px;
        }

        #app-navigation input:hover ~ #clear-recipe-search,
        #app-navigation input:focus ~ #clear-recipe-search {
            border-color: var(--color-primary-element);
        }
            
        #app-navigation .app-navigation-create .button {
            width: 100%;
            padding: 6px 12px;
            padding-left: 12px;
            padding-left: 34px;
            margin: 0;
            border-radius: var(--border-radius);
            background-position: left 9px center;
            z-index: 2;
        }

    #app-navigation .app-navigation-new {
        display: flex;
    }
        #app-navigation .app-navigation-new:not(:first-child) {
            padding-top: 0;
        }
        
        #app-navigation .app-navigation-new input {
            border-radius: var(--border-radius) 0 0 var(--border-radius);
            line-height: 40px;
            height: 40px;
            margin: 0;
            flex-grow: 1;
            border-right-width: 0;
        }
        
        #app-navigation .app-navigation-new button {
            border-radius: 0 var(--border-radius) var(--border-radius) 0;
            padding: 0;
            width: 40px;
            height: 40px;
            background-position: 50% 50%;
        }

        /* For some reason, some images would disappear below 30px width if they were displayed inline */
        #app-navigation > ul > li > a:first-child img {
            display: block;
            float: left;
            margin-top: 12px;
        }

/**
 * Settings
 */
#app-settings {}
    #app-settings .button {
        padding: 6px 12px;
        padding-left: 12px;
        padding-left: 34px;
        margin: 0 0 1em 0;
        border-radius: var(--border-radius);
        background-position: left 9px center;
        z-index: 2;
    }
    
    #app-settings input[type="text"],
    #app-settings input[type="number"],
    #app-settings .button {
        width: 100%;
        display: block;
    }

/**
 * Content
 */
#app-content {
    min-width: calc(100% - 300px);
}

#app-content-wrapper {
    flex-wrap: wrap;
    padding: 2em;
}
    #app-content-wrapper header {
        flex-basis: 100%;
        margin-bottom: 1rem;
        line-height: 1.5;
    }
        #app-content-wrapper header .recipe-toolbar {
            display: flex;
            justify-content: flex-end;
        }
        
            #app-content-wrapper header .recipe-toolbar .button {
                width: 40px;
                height: 40px;
                line-height: 40px;
                text-align: center;
            }
            
        #app-content-wrapper header img {
            max-width: 100%;
            max-height: 40vh;
            display: block;
            margin: 0 auto 1rem auto;
        }

    #app-content-wrapper aside {
        flex-basis: 20rem;
        padding-right: 2rem;
    }
        #app-content-wrapper aside ul {
            list-style-type: disc;
        }
            #app-content-wrapper aside ul li {
                margin-left: 1em;
            }
                #app-content-wrapper aside ul li span,
                #app-content-wrapper aside ul li input[type="checkbox"] {
                    line-height: 1rem;
                    margin: 0 0.5rem 0 0;
                    padding: 0;
                    height: auto;
                    width: 1rem;
                    display: inline-block;
                    vertical-align: middle;
                }

    #app-content-wrapper main {
        flex-basis: calc(100% - 22rem);
    }
        @media(max-width:1199px) { #app-content-wrapper main {
            flex-basis: 100%;
        } }

        #app-content-wrapper main ol li {
            margin-bottom: 1em;
        }

    /* Editor */
    #app-content-wrapper form {
        width: 100%;
    }
        #app-content-wrapper form fieldset {
            margin-bottom: 1em;
            width: 100%;
        }
        
        #app-content-wrapper form fieldset > input {
            width: calc(100% - 11em);
            margin: 0;
        }

        #app-content-wrapper form fieldset > input[name="image"] {
            width: calc(100% - 14em);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-right: 0;
        }
        
        #app-content-wrapper form fieldset > input[name="image"] + button {
            border-top-right-radius: var(--border-radius);
            border-bottom-right-radius: var(--border-radius);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            width: 3em;
            margin: 0;
        }
        
        #app-content-wrapper form fieldset > input[name="image"] + button > * {
            pointer-events: none;
        }

        #app-content-wrapper form fieldset > label {
            display: inline-block;
            width: 10em;
            line-height: 18px;
            font-weight: bold;
        }
      
        #app-content-wrapper form fieldset ul label input[type="checkbox"] {
            margin-left: 1em;
            vertical-align: middle;
            cursor: pointer;
        }

        #app-content-wrapper form fieldset > ul {
            margin-top: 1em;
            padding-left: 1em;
        }
        
        #app-content-wrapper form fieldset > ul > li > input {
            width: calc(100% - 3em);
            margin: 0 0 1em 0;
        }
        
        #app-content-wrapper form fieldset > ul > li > textarea {
            width: calc(100% - 3em);
            margin: 0;
            height: 10em;
            resize: none;
        }
        
        #app-content-wrapper form fieldset > ul button {
            border: 0;
            background-color: transparent;
            position: relative;
            top: -2px;
        }
        
        #app-content-wrapper form button[type="submit"] {
            margin-left: auto;
            display: block;
        }

/**
 * Print
 */
@media print {
    #header,
    #app-navigation,
    .recipe-toolbar {
        display: none !important;
    }

    #content,
    #app-content-wrapper {
        display: block !important;
        padding: 0 !important;
        overflow: visible !important;
    }

    #app-content {
        margin-left: 0 !important;
    }

    a:link:after,
    a:visited:after {
        content:" [" attr(href) "] ";
    }
}
