/**
 * Main
 */
 #app {
    width: 100%;
}

.app-navigation-new button {
    min-height: 44px !important;
    background-image: var(--icon-add-000) !important;
    background-repeat: no-repeat !important;
}
.app-navigation-entry *:not(.app-navigation-entry-icon) {
    background: initial !important;
}
.app-navigation-entry.recipe {
    /* Let's not waste space in front of the recipe if we're only using the icon to show loading */
    padding-left: 0 !important;
}
.app-navigation-entry:hover,
.app-navigation-entry.router-link-exact-active {
    opacity: 1 !important;
    box-shadow: inset 4px 0 var(--color-primary) !important;
}
    .home {
        padding: 1rem;
    }

    .home h2 {
        margin-top: 1rem;
    }

        .home .feature {
            background-position: left top;
            min-height: 32px;
            padding-left: 32px;
            margin-top: 1em;
        }

	#search {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin: 0 -1rem;
	}

		#search li {
			width: 300px;
			max-width: 100%;
			margin: 0 1rem 1rem;
		}
			#search li a {
				display: block;
				height: 105px;
				box-shadow: 0 0 3px #AAA;
				border-radius: 3px;
			}
			#search li a:hover {
				box-shadow: 0 0 5px #888;
			}

			#search li img {
				float: left;
				height: 105px;
				border-radius: 3px 0 0 3px;
			}

			#search li span {
				display: block;
				padding: 0.5rem 0.5em 0.5rem calc(105px + 0.5rem);
			}


    .loader {
        text-align: center;
        flex-basis: 100%;
        padding-top: 50px;
    }

    #controls {
        flex-basis: 100%;
    }
        #controls .pull-right {
            display: inline-flex;
            flex-grow: 100;
            flex-direction: row-reverse;
        }

    #app-content-wrapper header {
        display: block;
        width: 100%;
		text-align: center;
        margin-bottom: 1rem;
    }
        #app-content-wrapper header img {
            cursor: pointer;
            max-width: 100%;
        }

    #app-content-wrapper header.collapsed {
        flex-basis: 100%;
		height: 40vh;
		overflow: hidden;
    }
        #app-content-wrapper header.collapsed img {
			margin: 0 auto;
			margin-top: 20vh;
			transform: translateY(-50%);
            display: block;
        }

    #app-content-wrapper aside {
        flex-basis: 20rem;
        padding-right: 2rem;
    }
        #app-content-wrapper aside ul {
            list-style-type: disc;
        }
            #app-content-wrapper aside ul li {
                margin-left: 1em;
            }
                #app-content-wrapper aside ul li span,
                #app-content-wrapper aside ul li input[type="checkbox"] {
                    line-height: 1rem;
                    margin: 0 0.5rem 0 0;
                    padding: 0;
                    height: auto;
                    width: 1rem;
                    display: inline-block;
                    vertical-align: middle;
                }

    #app-content-wrapper .recipe-content {
        padding: 1rem;
        flex-basis: 100%;
    }
		#app-content-wrapper .recipe-content aside {
			display: inline-block;
			width: 30%;
			float: left;
		}

		#app-content-wrapper main {
			display: inline-block;
			width: 70%;
			float: left;
			text-align: justify;
		}

		#app-content-wrapper section {
			margin-bottom: 1rem;
		}

        #app-content-wrapper > section {
            padding: 1rem;
        }

		#app-content-wrapper section::after {
			content: '';
			display: table;
			clear: both;
		}

		@media(max-width:1199px) { #app-content-wrapper .recipe-content aside {
			display: block;
			width: 100%;
			float: none;
		}}

        #app-content-wrapper .instructions {
            list-style: none;
            padding: 0;
            counter-reset: instruction-counter;
            margin-top: 2rem;
        }

            #app-content-wrapper .instructions .instruction {
                cursor: pointer;
                counter-increment: instruction-counter;
                clear: both;
                margin-bottom: 2rem;
            }

                #app-content-wrapper .instructions .instruction::before {
                    content: counter(instruction-counter);
                    display: block;
                    float: left;
                    margin: 0 1rem 1rem 0;
                    height: 36px;
                    width: 36px;
                    border-radius: 50%;
                    border: 1px solid var(--color-border-dark);
                    outline: none;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: var(--color-background-dark);
                    line-height: 36px;
                    text-align: center;
                    margin-top: -6px;
                }

                #app-content-wrapper .instructions .instruction:hover::before {
                    border-color: var(--color-primary-element);
                }

                #app-content-wrapper .instructions .instruction.done::before {
                    content: '✔';
                }

		#app-content-wrapper .times {
			display: flex;
			margin-top: 10px;
		}
            @media(max-width:991px) { #app-content-wrapper .times {
                flex-direction: column;
            } }

            @media print { #app-content-wrapper .times {
                flex-direction: row;
            } }

			#app-content-wrapper .times .time {
				position: relative;
				flex-grow: 1;
				border: 1px solid var(--color-border-dark);
				border-radius: 3px;
				margin: 1rem 2rem;
				text-align: center;
				font-size: 1.2rem;
			}
				#app-content-wrapper .times .time button {
					position: absolute;
					top: 0;
					left: 0;
					transform: translate(-50%, -50%);
					height: 36px;
					width: 36px;
				}
				#app-content-wrapper .times .time h4 {
					font-weight: bold;
					border-bottom: 1px solid var(--color-border-dark);
					background-color: var(--color-background-dark);
					padding: 0.5rem;
				}

				#app-content-wrapper .times .time p {
					padding: 0.5rem;
				}


    #app-content-wrapper main {
        flex-basis: calc(100% - 22rem);
    }
        @media screen and (max-width:1199px) { #app-content-wrapper main {
            flex-basis: 100%;
            width: 100%;
        } }

    /* Editor */
    #app-content-wrapper form {
        width: 100%;
    }
        #app-content-wrapper form .recipe-edit {
            padding: 1rem;
        }

        #app-content-wrapper form fieldset {
            margin-bottom: 1em;
            width: 100%;
        }

        #app-content-wrapper form fieldset > span {
			float: left;
            margin: 0 0.5rem;
            display: block;
            line-height: 34px;
        }

        #app-content-wrapper form fieldset > input {
            width: calc(100% - 11em);
            margin: 0;
			float: left;
        }

        #app-content-wrapper form fieldset.duration > input {
            width: 50px !important;
            text-align: center;
        }

			@media(max-width:1199px) { #app-content-wrapper form fieldset > input {
				width: 100%;
			}}

    #app-navigation.show-navigation {
        transform: translateX(0px) !important;
        z-index: 10000 !important;
    }
    .app-navigation-entry:not(:hover) li.recipe {
        box-shadow: inset 4px 0 rgba(255, 255, 255, 0.5);
    }
    .app-navigation-entry:hover li.recipe {
        box-shadow: inset 4px 0 rgba(255, 255, 255, 1);
    }

@media print {
    #header {
        display: none !important;
    }

    a:link:after,
    a:visited:after {
        content:" [" attr(href) "] ";
    }
}
