*.swp
*.swo

/appinfo/info.xml

cookbook.tar.gz

.idea/

/.php-cs-fixer.cache

# Built js package
js/*

### NPM ###

# Node modules
node_modules
# Package lock
package-lock.json

### Composer ###

/vendor
