# SPDX-FileCopyrightText: 2026 Nextcloud cookbook contributors
#
# SPDX-License-Identifier: AGPL-3.0-only OR AGPL-3.0-or-later

/.git/
/.github/
/vendor/
/docs/
/build/
/l10n/
/node_modules/
/tests/
/translationfiles/
