<phpunit 
	bootstrap="tests/bootstrap.php"
	colors="true"
	backupGlobals="false"
	backupStaticAttributes="false"
	cacheResult="true"
	cacheResultFile="/tmp/phpunit.cache"
	>
    <testsuites>
        <testsuite name="unit">
            <directory>./tests/Unit</directory>
        </testsuite>
    </testsuites>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true" addUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">lib</directory>
		</whitelist>
	</filter>
</phpunit>
