/** position */

.absolute {
	position: absolute;
}

.position-md-absolute {
	@media (min-width: 768px) {
		position: absolute;
	}
}

.relative {
	position: relative;
}

.position-md-relative {
	@media (min-width: 768px) {
		position: relative;
	}
}

/** display */

.d-flex,
.flex {
	display: flex;
}

.inline-block {
	display: inline-block;
}

.inline-flex {
	display: inline-flex;
}

.flex-col {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.grid,
.d-grid {
	display: grid;
}

.d-md-grid {
	@media (min-width: 768px) {
		display: grid;
	}
}

/** flex */

.flex-md-row {
	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-auto {
	flex: 1 1 auto;
}

.flex-md-auto {
	@media (min-width: 768px) {
		flex: 1 1 auto;
	}
}

/** align */

.align-items-center {
	align-items: center;
}

.align-items-stretch {
	align-items: stretch;
}

.self-end {
	align-self: end;
}

.self-start {
	align-self: start;
}

.self-md-start {
	@media (min-width: 768px) {
		align-self: start;
	}
}

.self-stretch {
	align-self: stretch;
}

.self-md-stretch {
	@media (min-width: 768px) {
		align-self: stretch;
	}
}

/** justify */

.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: end;
}

/** margin */

.mb-0 {
	margin-bottom: 0;
}

.mb-0.\5 {
	margin-bottom: 0.125rem;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.mb-4 {
	margin-bottom: 1rem;
}

.ml-1 {
	margin-left: 0.25rem;
}

.ml-2 {
	margin-left: 0.5rem;
}

.ml-3 {
	margin-left: 0.75rem;
}

.mr-1 {
	margin-right: 0.25rem;
}

.mr-2 {
	margin-right: 0.5rem;
}

.mr-4 {
	margin-right: 1rem;
}

.mt-0 {
	margin-top: 0;
}

.mt-2 {
	margin-top: 0.5rem;
}

.mt-4 {
	margin-top: 1rem;
}

.mt-6 {
	margin-top: 1.5rem;
}

.mx-0 {
	margin-right: 0;
	margin-left: 0;
}

.-ml-1 {
	margin-left: -0.25rem;
}

/** padding */

.p-2 {
	padding: 0.5rem;
}

.p-4 {
	padding: 1rem;
}

.pb-2 {
	padding-bottom: 0.5rem;
}

.pb-4 {
	padding-bottom: 1rem;
}

.pl-2 {
	padding-left: 0.5rem;
}

.pl-3 {
	padding-left: 0.75rem;
}

.pt-2 {
	padding-top: 0.5rem;
}

.pt-2\.5 {
	padding-top: 0.625rem;
}

.px-3 {
	padding-right: 0.75rem;
	padding-left: 0.75rem;
}

.px-2\.5 {
	padding-right: 0.625rem;
	padding-left: 0.625rem;
}

.py-0\.5 {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
}

.py-2 {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

/** gap */

.gap-2 {
	gap: 0.5rem;
}

.gap-4 {
	gap: 1rem;
}

.gap-md-4 {
	@media (min-width: 768px) {
		gap: 1rem;
	}
}

.gap-8 {
	gap: 2rem;
}

.gap-md-8 {
	@media (min-width: 768px) {
		gap: 2rem;
	}
}

.gap-y-lg-8 {
	@media (min-width: 1024px) {
		row-gap: 2rem;
	}
}

.gap-lg-16 {
	@media (min-width: 1024px) {
		gap: 4rem;
	}
}

.gap-x-lg-16 {
	@media (min-width: 1024px) {
		column-gap: 4rem;
	}
}

.gap-x-2 {
	column-gap: 0.5rem;
}

/** Height */

.h-0 {
	height: 0;
}

/** Width */

.w-32 {
	width: 8rem;
}

.w-md-32 {
	@media (min-width: 768px) {
		width: 8rem;
	}
}

.w-64 {
	width: 16rem;
}

.w-md-64 {
	@media (min-width: 768px) {
		width: 16rem;
	}
}

.w-full {
	width: 100%;
}

.max-w-full {
	max-width: 100%;
}

.max-w-md-full {
	@media (min-width: 768px) {
		max-width: 100%;
	}
}

/** Background */

.bg-transparent {
	background-color: transparent;
}

/** Borders */

.border-none {
	border-style: none;
}

.border-solid {
	border-style: solid;
}

.rounded {
	border-radius: 0.25rem;
}

.rounded-full {
	border-radius: 9999px;
}

.border-1 {
	border-width: 1px;
}

.border-2 {
	border-width: 2px;
}

/** Cursor */

.hover\:cursor-pointer:hover {
	cursor: pointer;
}
