.absolute {
	position: absolute;
}

.position-md-absolute {
	@media (min-width: 768px) {
		position: absolute;
	}
}

.relative {
	position: relative;
}

.position-md-relative {
	@media (min-width: 768px) {
		position: relative;
	}
}

.d-flex, .flex {
	display: flex;
}

.inline-flex {
	display: inline-flex;
}

.flex-col {
	flex-direction: column;
}
.flex-row {
	flex-direction: row;
}

.grid, .d-grid {
	display:grid;
}

.d-md-grid {
	@media (min-width: 768px) {
		display: grid;
	}
}

.flex-md-row{
	@media (min-width: 768px) {
		flex-direction: row;
	}
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-nowrap {
	flex-wrap: nowrap;
}

.flex-auto {
	flex: 1 1 auto;
}

.flex-md-auto {
	@media (min-width: 768px) {
		flex: 1 1 auto;
	}
}

/** align */

.align-items-center{
	align-items: center;
}

.align-items-stretch {
	align-items: stretch;
}

.self-end {
	align-self: end;
}

.self-start {
	align-self: start;
}

.self-md-start {
	@media (min-width: 768px) {
		align-self: start;
	}
}

.self-md-stretch {
	align-self: stretch;
}

.self-md-stretch {
	@media (min-width: 768px) {
		align-self: stretch;
	}
}

/** justify */

.justify-end {
	justify-content: end;
}

.mb-2 {
	margin-bottom: 0.5rem;
}

.ml-2 {
	margin-left: 0.5rem;
}

.mr-1 {
	margin-right: 0.25rem;
}

.mr-2 {
	margin-right: 0.5rem;
}

.mr-4 {
	margin-right: 1rem;
}

.mt-4 {
	margin-top: 1rem;
}

.pl-3 {
	padding-left: 0.75rem;
}

.pt-2 {
	padding-top: 0.5rem;
}

.gap-4 {
	gap: 1rem;
}

.gap-md-4 {
	@media (min-width: 768px) {
		gap: 1rem;
	}
}

.gap-8 {
	gap: 2rem;
}

.gap-md-8 {
	@media (min-width: 768px) {
		gap: 2rem;
	}
}

/** Height */

.h-0 {
	height: 0;
}

/** Width */

.w-32
{
	width: 8rem;
}
.w-md-32
{
	@media (min-width: 768px) {
		width: 8rem;
	}
}

.w-64
{
	width: 16rem;
}
.w-md-64
{
	@media (min-width: 768px) {
		width: 16rem;
	}
}

.w-full {
	width: 100%;
}

.max-w-full {
	max-width: 100%;
}

.max-w-md-full {
	@media (min-width: 768px) {
		max-width: 100%;
	}
}




