# Sample workflow for building and deploying a Jekyll site to GitHub Pages
name: Build GitHub Pages and deploy

on:
  # Runs on pushes targeting the default branch
  push:
    paths:
      - '.github/workflows/pages.yml'
      - 'docs/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: read

# Allow one concurrent deployment
concurrency:
  group: "pages"
  cancel-in-progress: true

defaults:
  run:
    shell: bash

jobs:
  # Build job
  build:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          persist-credentials: false
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b

      - name: Count number of plantuml files
        id: count-plantuml
        run: |
          count=$(find docs/ -name \*.puml | wc -l)
          echo "There are $count plantuml files"
          echo "num=$count" >> $GITHUB_OUTPUT
      - name: Install PlantUML on demand
        if: steps.count-plantuml.outputs.num > 0
        run: |
          sudo apt-get update
          sudo apt-get install --no-install-recommends -y plantuml
      - name: Build PlantUML images
        if: steps.count-plantuml.outputs.num > 0
        run: make -C docs build-uml-svg

      - name: Build with Jekyll
        uses: actions/jekyll-build-pages@44a6e6beabd48582f863aeeb6cb2151cc1716697
        with:
          source: ./docs/
          destination: ./docs/_site
      - name: Upload artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b
        with:
          path: ./docs/_site/

  # Deployment job
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-24.04
    if: github.event.ref == 'refs/heads/master' && github.repository == 'nextcloud/cookbook'
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e
