
name: Additional tests for pull requests

on:
    pull_request:

jobs:
    
    changelog:
        name: Check if the changelog was updated
        runs-on: ubuntu-latest
        
        steps:
            -   name: Checkout the app
                uses: actions/checkout@v2
                with:
                    fetch-depth: 2
            
            -   name: Get the diff
                id: diff
                run: |
                    git diff HEAD~1 -- CHANGELOG.md
                    lines=$(git diff HEAD~1 -- CHANGELOG.md | wc -l)
                    echo "::set-output name=lines::$lines"
            
            -   name: Get all changed file names
                id: file-names
                run: |
                    lines="$(git diff HEAD~1 --name-only)"
                    echo "Changed files:"
                    echo "$lines"
                    cnt="$(echo "$lines" | grep -v '^package-lock.json$' | wc -l)"
                    echo "That are $cnt changed files."
                    echo "::set-output name=num::$cnt"

            -   name: Error if the number of diff lines is zero
                run: |
                    echo "::error file=CHANGELOG.md::There was no change in the changelog detected. Please fill in a valid entry into that file."
                    exit 1
                if: ${{ steps.diff.outputs.lines == 0 && steps.file-names.outputs.num > 0 }}
    
    todo-checker:
        name: Check for added todo messages
        runs-on: ubuntu-latest
        steps:
            -   name: Manual checkout of the app
                run: |
                    REPO="https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git"
                    BRANCH="${GITHUB_REF/#refs\/heads\//}"

                    git version

                    git clone --filter=tree:0 "$REPO" .
                    git checkout ${{ github.head_ref }}

                    # git init $GITHUB_WORKSPACE
                    # git remote add origin https://github.com/$GITHUB_REPOSITORY
                    # git config --local gc.auto 0

                    # git fetch --filter tree:none origin +${GITHUB_SHA}:refs/remotes/origin/${BRANCH} +${GITHUB_BASE_REF}
                    # git checkout --progress --force -B ${BRANCH} refs/remotes/origin/${BRANCH}
            -   name: Check for open TODO annotations in source code
                uses: ./.github/actions/check-todo

    appinfo:
        name: Check for matching app info file
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout of the app
                uses: actions/checkout@v2
                with:
                    fetch-depth: 1
                
            -   name: Install dependencies
                run: |
                    sudo apt-get update
                    sudo apt-get install jq
                    pip install yq

            -   name: Perform the test
                env:
                    MAIN_FILE: appinfo/info.xml
                    DIST_FILE: .github/actions/deploy/appinfo/info.xml.dist
                run: |
                    echo "Normalize the actual appinfo file"    
                    xq -x 'del(.info.version)' "$MAIN_FILE" > /tmp/main-info.xml
                    xq -x 'del(.info.version)' "$DIST_FILE" > /tmp/dist-info.xml

                    echo '::group::Debug output'
                    tail -n 100 /tmp/main-info.xml /tmp/dist-info.xml
                    echo '::endgroup::'

                    if ! diff -q /tmp/main-info.xml /tmp/dist-info.xml > /dev/null; then
                    echo '::error::The app info file differs from the dist file. Please check manually!'
                    exit 1
                    fi

            -   name: Download schema
                run: wget https://raw.githubusercontent.com/nextcloud/appstore/master/nextcloudappstore/api/v1/release/info.xsd

            -   name: Lint info.xml
                uses: ChristophWurst/xmllint-action@v1
                with:
                    xml-file: ./appinfo/info.xml
                    xml-schema-file: ./info.xsd

    fixup-check:
        name: Block fixup and squash commits
        runs-on: ubuntu-latest

        steps:
            -   name: Run check
                uses: xt0rted/block-autosquash-commits-action@v2
                with:
                    repo-token: ${{ secrets.GITHUB_TOKEN }}
